div.container {
    width: 100%;
    height: 100%;    
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}

header{
    
    color: black;
    background-color: white;
    clear: left;
    text-align: center;    
}
article {
    
    
}
body{  
  font-family: verdana;
}
.mainDiv{
  width: 95%;
/*  margin-left: 20px;*/
/*  border: 1px solid black;*/
  font-size: 0.6em;
}

.mainTable{
  width: 100%;
  border-collapse: collapse;
}

footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
    width: 100%;
    display: block;
    height: 30px;
    border-top: 1px solid grey;
}

header img{
  width: 100%;
  height: 100%;
}
.footerLeft{
  float: left;  
  width: 100%;
}
.loggedInlblClass{
  font: 2em;
}
.footerLeftMain{
  float: left;  
  width: 50%;
}
.footerLeftSpan{
  text-align: left;
}
.footerRight{
  float: right;
  width: 50%;
}
.logOutBtn{
  float: right;
  margin-right: 30px;
}
/*nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
*/

.mainTable tr {
  width: 100%;
}
.mainTable tr td{
    padding-top: .4em;
    padding-bottom: .4em;

}

.scan-input { 
    position: relative; 
    width:100%;    
}
.scan-input input { border:none: background:#fff; display:block; width: 100%; box-sizing: border-box ;}
.scan-input img { position: absolute; top: 1px; right: 1px;}


.first{
  width: 50%;
  text-align: left;
}
.second{
  width: 10%;
  text-align: center;
}
.third{
  width: 20%;
  text-align: center;
}
.fourth{
  width: 10%;
  text-align: center;
}
.fifth{
  width: 10%;
  text-align: center;
}

.repairDetailsinnerTable{
  width: 100%;  
  overflow: auto;
  
}
.brandNames{
  width: 100%;
}


.repairDetailsinnerTable-TR{
  border: solid thin; 
}

input,select{
  height: 35px;
  border: 1px solid grey;
  font-size: 1.1em;
}

/*input[type='text'],input[type='date'],input[type='number']{
  font-size: 1em;
}*/

select option{
 /*font-size: 1em; 
 width: 40px;
 max-width: 40px;*/
}

.dropDwn{
  width: 90%;
  max-width: 90%;
}

.btn{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

.btnUp {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

.innertableScanImage {    
  width: 100%;
 
}

.innerDivScanImage{
  height: 60px;
  overflow: scroll; 
}
.Inner1st{
  width: 10%;
}

.Inner2nd{
  padding-left: 1%;
  width: 89%;
  border: 1px solid grey;
 
}

.InnerTableTR{
  width:100%;
  border-radius: 25px; 
  border-color: red;
}
.InnerTable1st{
  width: 80%;
/*  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;*/
}

.InnerTable2nd{
  
  border-left: 1px solid grey;
/*  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;*/
  text-align: center;
}


.InnerTable3rd{
  width: 15%;
  /*border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;*/
  text-align: center;
}
.updateDataTD{
  
  padding-left: 10%;
}

.uploadimageTD{
  text-align: center;
  padding-left: 10%;
}




input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}

.ScanImage1{
  width:  30%;
  float:  left; 
}

.errorMessageRepairNum{
  width:  50%;
  float:  left; 
  padding-top:  5px;
}

.errorMessageSKUNum{
  width:  50%;
  float:  left; 
  padding-top:  5px;
}
.deleteMessageImage{
  width:  69%;
  float:  left; 
  padding-top:  5px;
}

.errorMsg{
  font-weight:  bold;
  color:  red;
}
.uploadMsg{
  font-weight:  bold;
  color:  red;
  }

input,select{
  font-family:  verdana !important;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 99999; 
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    border : 1px solid gray;  
}

/* Modal Content */
.modal-content-alert {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-confirm {
    background-color: #fefefe;
    margin: auto;
    padding: 28px;
    border: 1px solid #888;
    width: 60%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.spanHide{
  visibility: hidden;
}

.spanShow{
  visibility: visible;
}

.errorMessage{
  font-weight: bold;  
  font-color: black;
  font-size: 1.5em;
}

.errorMessageConfirm{
  font-weight: bold;  
  color: black; 
  font-size: 1.5em;
}

.confirmMessageBtn{
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 1.1em;
  height: 30px;
  width: 57px;
}

.presskOK{
  margin-left: 2%;
}

.pressCancel{
}

.firsttd{
  width: 30%;
}

.secondtd{
  width: 50%;
}

.thirdtd{
  width: 20%;
}





#lonLbl{
  
    word-wrap:break-word
}
.lonChkBox{
/*  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;*/
  vertical-align:middle;
}

#progress{
margin-top:3%;
/*    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;    */
}




